export(blmer, bglmer)

exportClasses(bmerMod)
exportClasses(blmerMod)
exportClasses(bglmerMod)

importClassesFrom(lme4, merMod, lmerMod, glmerMod)

importFrom(methods, show)

S3method(print, bmerMod)
S3method(print, summary.bmerMod)
S3method(summary, bmerMod)
S3method(summary, summary.bmerMod)
S3method(vcov, summary.bmerMod)

S3method(toString, bmerNormalDist)
S3method(toString, bmerPointDist)
S3method(toString, bmerWishartDist)
S3method(toString, bmerInvWishartDist)
S3method(toString, bmerGammaDist)
S3method(toString, bmerInvGammaDist)